/** Stylus Styles */
@import '../../node_modules/vuetify/src/stylus/settings/_colors'

$theme := {
  primary: $amber.lighten-3
  accent: $amber.accent-3
  secondary: $grey.darken-2
  info: $blue.base
  warning: $amber.accent-4
  error: $red.base
  success: $green.base
}

@import '../../node_modules/vuetify/src/stylus/main'
